server:
  port: 8888

spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:/Users/kaankeskin/Desktop/gymtracker-config
        #git:
          #uri: https://github.com/keskink1/gymtracker-config.git